/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes moving-arrow {
    0% {
        translate: 0;
      }
    
    100% {
        translate: 4px;
      }    
}

@keyframes is-liked {
    0% {
        scale: 1;
      }
    
    100% {
        scale: 1.5;
      }  
      
      0% {
        scale: 1;
      }
}

@keyframes sparks {
    0% {
        opacity: 0;
      }
    
    100% {
        opacity: 1;
      }    
}

.like-icon .core,
.like-icon:hover .core,
.like-icon:active .core,
.like-icon.is-liked .core,
.like-icon .main-body,
.like-icon:hover .main-body,
.like-icon:active .main-body,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
    transition: fill 0.3s linear;
}

.like-icon .core,
.like-icon .main-body {
    fill: transparent;
}

.like-icon .core {
    transition-delay: 0.03s;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
    fill: var(--color-contour);
}

.like-icon:active .core,
.like-icon.is-liked .core,
.like-icon:active .main-body,
.like-icon.is-liked .main-body {
    fill: var(--color-fill);
}

.like-icon:hover .main-body,
.like-icon:active .main-body,
.like-icon.is-liked .main-body {
    transition-delay: 0.05s;
}

.like-icon .contour {
    fill: var(--color-contour);
    transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
    fill: var(--color-fill);
    transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
    animation: is-liked 0.3s ease-in 0.1s alternate;
    transform-origin: center center;
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s alternate;
}
