/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  font-family: var(--font-main), sans-serif;
  font-size: var(--fontSize-main-text);
  font-variation-settings: "wght" var(--fontWeight-main-text);
  color: var(--color-accent);
  background-color: var(--color-background);
  background-image: var(--gradient-background);
  background-size: cover;
  background-attachment: fixed;   
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
  gap: 30px;
  background-color: var(--color-background);
  border: solid 2px var(--color-accent);
  overflow: hidden;
}

.dialog::backdrop {
  background-color: var(--color-accent);
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog__floppy {
  min-inline-size: 39px;
  block-size: auto;
  color: var(--color-accent);
}

.dialog__title {
  font-family: var(--font-accent), sans-serif;
  font-size: var(--fontSize-accent-text);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--color-accent);
}

.dialog__button {
  position: relative;
  background: transparent;
  padding: 7px 131px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  inline-size: 100vw;
  max-inline-size: 700px;
  font-family: var(--font-accent), fantasy;
}

.header__title {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: var(--fontSize-title);
  text-transform: uppercase; 
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: var(--fontSize-subtitle);
  text-transform: uppercase; 
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: var(--fontSize-accent-text);
  text-transform: uppercase;
}

.theme-menu__button:hover {
  filter: opacity(0.6);
  transition: filter 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  filter: opacity(0.6);
  transition: filter 0.3s ease;
}

.theme-menu__button:disabled {
  filter: opacity(0.6);
  transition: filter 0.3s ease;
  pointer-events: none;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  display: block;
  inset-inline-start: -25px;
  inline-size: 0;
  background-color: currentColor;
  transform: scaleX(0);
  animation: moving-arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled::before {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 2px;
  background-color: currentColor;
  transform: scaleX(0);
}

.theme-menu__button:focus::after {
  outline: none;
  filter: opacity(0.6);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.main__card {
  margin-block-start: 100px;
  inline-size: 100vw;
  max-inline-size: 700px;
  background-color: var(--color-background);
}

.main__card-title {
  padding: 3px 0 3px 10px;
  font-size: var(--fontSize-main-text);
  font-variation-settings: "wght" var(--fontWeight-title);
  border: solid 2px var(--color-accent);
}

.main__card-photo {
  position: relative;
}

.main__card-watermark {
  position: absolute;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  font-family: var(--font-accent), sans-serif;
  font-size: var(--fontSize-accent-text);
  text-transform: uppercase;
  color: var(--color-accent);
  text-shadow:
    -1px 0 var(--color-background), 
    0 1px var(--color-background), 
    1px 0 var(--color-background), 
    0 -1px var(--color-background);
}

@supports((text-stroke: 1px var(--color-background)) or (-webkit-text-stroke: 1px var(--color-background))) {
  .main__card-watermark {
      -webkit-text-stroke: 1px var(--color-background);
      text-stroke: 1px var(--color-background);
      text-shadow: none;
  }
} 

.main__card-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.main__card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border: solid 2px var(--color-accent);  
}

.main__card-buttons-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card__icon-button {
  background: transparent;
  padding: 4px 3px 0;
  outline: solid 2px transparent;
  outline-offset: -2px;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--color-accent);
  outline-offset: -2px;
  transition: outline-color 0.3s ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__like-button {
  padding: 6px 35px;
}

.button-text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--color-button-text);
  font-family: var(--font-accent), sans-serif;
  font-size: var(--fontSize-accent-text);
  line-height: 0.9;
}

.main__save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding: 15px;
  gap: 10px;
}

.floppy-icon {
  max-inline-size: 21px;
  block-size: auto;
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 1;
}

.main__button {
  position: relative;
  background-color: var(--color-background);
  border: solid 2px var(--color-accent);
}

.main__button:hover {
  cursor: pointer;
}

.main__button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-accent);
  transform: scaleX(0);
}

.main__button:hover::after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.main__button:focus-visible {
  outline: none;
  border: solid 2px var(--color-accent);
  box-shadow: 2px 2px var(--color-accent);
  transition: box-shadow 0.3s ease;
}

